<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kobjects.graphics.demo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="AbcMoji Demo"
        android:usesCleartextTraffic="true">
        <activity android:name="org.kobjects.abcnotation.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>